.navbarBg {
  backdrop-filter: blur(10px);
  background-color: #ffffff55;
}

.dropdown-menu {
  left: unset !important;
  right: 0;
}

.nav-link {
  font-size: .8em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s ease;
}

.nav-link:hover {
  text-decoration: underline;
}