footer {
    background-color: #212429;
    bottom: 0;
    color: white;
    font-size: .8em;
    margin-top: 3em;
    padding: .8em 0;
    position: relative;
    text-align: center;
    width: 100%;
}