body {
  background-color: #e0e0e0;
}

.App {
  display: flex;
  flex-flow: column wrap;
  font-family: sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  row-gap: 2em;
}



img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

a {
  color: inherit;
  text-decoration: none;
}

.card {
  height: 100%;
}

.card-img-top {
  height: 12em;
  object-fit: cover;
}

.card-text {
  margin-bottom: 0;
}