body {
  background-color: #EDF2FB;
}

.App {
  display: flex;
  flex-flow: column wrap;
  font-family: sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  row-gap: 2em;
}

body {
  color: #1f1f1f;
  padding-bottom: 5em;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;

}


a {
  color: inherit;
  text-decoration: none;
}

.card {
border: none;
box-shadow: rgba(204, 219, 253) 0px 10px 10px 0px, rgba(204, 219, 253) 0px 0px 0px 0px;
height: 100%;
}
.card-title{
  font-size: 1.1em !important;
}
.card-img-top{
  height: 15em;
  object-fit: cover;
}

.card-text {
  margin-bottom: 0;
}
.btn{
  background-color: #6e88f9!important;
  border: none;
}
