.home-title {
    font-size: clamp(3.05em, 3.54vw + 1.5em, 8em);
    text-align: center;
}

.home-container {
    background-color: rgb(210, 210, 210);
    background-image: url(../../assets/images/bg_home.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}

.outline {
    color: transparent;
    -webkit-text-stroke: 1px #000
}

.marquee {
    height: 3em;
    margin-bottom: 2em;
    margin-top: 1em;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    width: 100vw;
}

.marquee h3 {
    margin: 0;
}

.marquee_track {
    animation: marquee 20s linear infinite;
    position: absolute;
    white-space: nowrap;
    will-change: transform;
}

.marquee__content {
    color: #000
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}